version: "3.9"

services:
  mysql:
    image: mysql:8.0
    container_name: project-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: post_db
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 5s
      timeout: 5s
      retries: 5

  laravel:
    build:
      context: ./laravel
      dockerfile: Dockerfile
    container_name: project-laravel
    restart: unless-stopped
    environment:
      APP_ENV: local
      APP_DEBUG: true
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: post_db
      DB_USERNAME: root
      DB_PASSWORD: root
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8080:8000"
    volumes:
      - ./laravel:/var/www/html
    command: >
      sh -c "
        php artisan config:clear &&
        php artisan cache:clear &&
        php artisan migrate --force &&
        php artisan migrate:fresh --seed &&
        php artisan serve --host=0.0.0.0 --port=8000
      "

  nextjs:
    build:
      context: ./nextjs
      dockerfile: Dockerfile
    container_name: project-nextjs
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./nextjs:/app
    environment:
      NODE_ENV: development
    command: sh -c "npm install && npm run dev"

volumes:
  mysql_data:
